.small-card-color-box {
  width: 20px;
  height: 20px;
}

.flex-group {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.h-80px {
  height: 80px;
}

.h-429px {
  height: 429px;
}
